
STAGE=dev

DB_PASSWORD=MySecr3tPassWord@as2
DB_NAME=yourDbName
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=dbUsername

PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET=Est3EsMISE3Dsecreto32s

# AWS
AWS_ACCESS_KEY_ID=YOURACCESSKEYID
AWS_SECRET_ACCESS_KEY=YourS3crEt4ccess1d
AWS_REGION=your-aws-region
AWS_S3_BUCKET=your-s3-bucket-name